<!-- Footer -->
<footer id="main-footer" class="py-4 bg-white">
    <div class="contact mb-3 text-left"> <!-- Added text-left class -->
        <h5>
            電郵: <a href="mailto:kinetictra@gmail.com" class="text-dark">kinetictra@gmail.com</a><br>
            電話: <a href="tel:+85293793473" class="text-dark">+852 9379 3473</a>
        </h5>
    </div>

    <div class="copyright text-center"> <!-- Added text-center class -->
        <h6>&copy; <span class="year">2025</span> KineticTraining. All rights reserved.</h6>
    </div>
</footer>