{% extends 'base.html' %} 
<!-- title tab-->
{% block title %} | Dashboard {% endblock %}
{% block content %}

{% include 'partials/_alert.html' %}

<section id="dashboard" class="py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h4>Welcome {{ username }}</h4>
      </div>
    </div>
    
    {% if user.is_staff %}  <!-- Check if the user is staff -->
    <div class="row">
      <div class="col-md-12">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">For Kinetic Staff Only</h5>
            <a href="{% url 'create_event' %}" class="btn btn-primary">Create Event</a>              <!-- Button to create event -->
            <a href="{% url 'select_event' %}" class="btn btn-primary">Update Event</a>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    
  </div>
</section>

{% endblock %}